.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Home {
  background-image: url('./assets/into_the_metaverse.jpg');
  text-align: center;
  min-height: 100vh;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* image-rendering:'../assets/logo.png'; */
}

.header{
  /* flex-direction: column; */
  /* height: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto; */
  padding: 300px;
  color: blue;
}

.not-found{
  background-image: url('./assets/notFound.jpeg');
  text-align: center;
  min-height: 100vh;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
}

.not-found-text{
  text-align: center;
}